node_modules/
dist/
build/
*.log
.env
.env.*
!.env.example
coverage/
*.coverprofile
.DS_Store
backend/tmp/
*.exe
*.test
vendor/
*.out
backend/server
*.tar.gz*
*.tgz
*.zip*
wget-log
tmp/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Java
target/
*.class
*.jar
.gradle/

# .NET
bin/
obj/
*.user
*.suo

# Mobile (iOS/Android)
.build/
DerivedData/
*.swiftpm/
Packages/
*.iml
out/
# Terraform
.terraform/
*.tfstate*
*.tfvars
.terraform.lock.hcl
google-chrome-stable_current_amd64.deb
